.icon {
    display: flex;
    flex-direction: column;
    align-items: start;
    cursor: pointer;
    text-align: center;
    
}

.spacer {
    padding-left: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    width: 64px;
    max-width: 64px;
}