<nav class="nav-bar">
  <mat-toolbar>
    <mat-toolbar-row class="mat-toolbar-row">
      @if (authSvc.isLoggedIn()) {
      <a
        class="nav-item"
        routerLink=""
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        ><mat-icon>home</mat-icon>Home</a
      >
      <a
        class="nav-item"
        routerLink="quizz"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        ><mat-icon>admin_panel_settings</mat-icon>Quizz</a
      >
      } @if (this.authSvc.isAdmin()) {
      <a
        class="nav-item"
        routerLink="admin"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        ><mat-icon>admin_panel_settings</mat-icon>Admin</a
      >
      }

      <span class="spacer"></span>
      @if (authSvc.isLoggedIn()) {
      <button class="nav-item" mat-button id="right-nav" (click)="logout()">
        <mat-icon>logout</mat-icon>Logout
      </button>
      } @else {
      <button class="nav-item" mat-button id="right-nav" (click)="goToLoginPage()">
        <mat-icon>login</mat-icon>Login
      </button>
      }
    </mat-toolbar-row>
  </mat-toolbar>
</nav>
<router-outlet />
