<div class="login-component" (click)="selectThisUser()">

  <!-- Username always shown -->
  <label class="username-label">{{ username() }}</label>

  <!-- Show password form only if selected -->
  @if (isSelected()) {

    <div class="login-container">
      <div class="login-content">
        <form [formGroup]="form" (submit)="submit()">

          <label>Password</label>
          <input
            class="password-input"
            type="password"
            formControlName="password"
          />

          @if (form.get('password')?.invalid && form.get('password')?.touched) {
            <p class="error-text">Password is required</p>
          }

          <button
            class="submit-button"
            type="submit"
            [disabled]="form.invalid"
          >
            @if (isLoading()) {
              <mat-icon>autorenew</mat-icon>
            } @else {
              <mat-icon>arrow_forward</mat-icon>
            }
          </button>

        </form>
      </div>

      @if (error()) {
        <div class="error-footer">
          <div class="error-text">Erreur: {{ error() }}</div>
        </div>
      }
    </div>
    <button class="cancel-button" type="button" (click)="onCancel($event)">
    Cancel
    </button>
  }

</div>
