mat-card {
  width: 400px;
  margin: auto;
  margin-top: 100px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: color-mix(in srgb, var(--mat-sys-background) 95%, transparent);
}

mat-card-header {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

button {
  width: 100%;
  margin-top: 10px;
}

mat-card-title {
  color: var(--mat-sys-primary);
}

:host {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
}
