.computer-frame {
  width: 90%;
  height: 90%;
  margin: auto;
  margin-top: 1%;

  display: flex;
  flex-direction: column;
  overflow: hidden;

  background: #1a1a1a;
  border: 12px solid #333;

  font-family: 'Press Start 2P', monospace;

  .desktop-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

  .desktop-area {
    flex: 1;
    overflow: hidden;
    background: url('../../../../public/background-windows.jpg') center/cover;
  }

  .windows {
    cursor: url('../../../../public/cursor.png') 0 0, auto;
  }

  .linux {
    cursor: url('../../../../public/cursor-linux.png') 0 0, auto;
  }

  .linux-area {
    flex: 1;
    overflow: hidden;
    background: url('../../../../public/background-linux.jpg') center/cover;
  }
}

:host ::ng-deep .resource-game-window .window-content {
  // This will scale down the component and its container
  transform: scale(1);
  transform-origin: top left; // To scale from the top-left corner
}
