.computer-frame {
    width: 90%;
    height: 90%;
    margin: auto;
    margin-top: 1%;

    display: flex;
    flex-direction: column;
    overflow: hidden;

    background: #1a1a1a;
    border: 12px solid #333;

    font-family: 'Press Start 2P', monospace;


    cursor: url('../../../../public/cursor.png') 0 0, auto;


    .desktop-area {
        flex: 1;
        overflow: hidden;
        background: url('../../../../public/background-windows.jpg') center/cover;
    }

    .linux-area {
        flex: 1;
        overflow: hidden;
        background: url('../../../../public/background-linux.jpg') center/cover;
    }
}

