.snake-game {
  display: flex;
  flex-direction: column;
  align-items: first baseline;
  padding: 20px;
  color: #fff;
  background-color: #2c0d24;
}

.game-info {
  display: flex;
  font-size: 18px;
  font-family: 'Ubuntu Mono', monospace;
}

.terminal-prompt {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 18px;
  margin-top: 4px;
  display: flex;
  align-items: center;
}

.game-over-message {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 18px;
  display: flex;
  align-items: center;
  color: #c0443d;
  margin-left: 8px;
}

.terminal-input {
  background: transparent;
  border: none;
  outline: none;
  color: inherit;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 18px;
  margin-left: 5px;
  flex: 1;
  caret-color: white;
}

.terminal-user {
  color: #8ae234;
}

.terminal-path {
  color: #729fcf;
}

.board-container {
  font-family: 'Ubuntu Mono', monospace;
}

.board-top,
.board-bottom {
  font-family: 'Ubuntu Mono', monospace;
  white-space: pre;
  line-height: 1;
  font-size: 22px;
}

.board-with-sides {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
}

.board-row {
  display: flex;
  align-items: center;
  line-height: 1;
  font-size: 22px;
}

.board-side {
  font-family: 'Ubuntu Mono', monospace;
  line-height: 1;
  font-size: 22px;
}

.game-board {
  display: grid;
  background-color: var(--background-color);
  font-family: 'Ubuntu Mono', monospace;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Ubuntu Mono', monospace;
  font-weight: bold;
  font-size: 22px;
  width: 22px;
  height: 22px;
  line-height: 1;
}

.cell.snake {
  color: #8ae234;
}

.cell.snake-head {
  color: rgb(234, 111, 173);
}

.cell.food {
  color: #c0443d;
}
